.navTop{
    background-color: #00BF66 !important;
}
.center{
    align-self: center;
}
.insurancePrompt{
    border: 0px;
}
.insurancePrompt .card-title{
    font-weight: 600;
    font-family: sans-serif;
    font-size: 30px;
}
.megamenu {
    position: absolute;
    overflow: hidden;
    left: 0;
    width: 100%;
    right: 0;
    padding: 0;
    border: none;
}
.dropdown-menu:click{
    display: block;
    overflow: hidden;
    align-items: center;

}

.dropdown-menu a{
    display: block;
    overflow: hidden;
    align-items: center;

}
.menuRow{
    float: center;
    justify-content: space-around;
    align-items: center;
}
.navBottom{
    float: center;
    background-color: white !important;
    box-shadow: 5px 5px 8px;


}

.dropdown-menu.megamenu {
    min-width: 1040px;
}
.homeHero{
    background-image:url("HeroImg.png");
}

.jumbotron .bigGreen{
    font-size: 48;
    font-family: "Montserrat";
    color: #42B031;
}

.slideContainer{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 11;
    width: 100%
}
.testimony{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #009A52;
}
/* .testimony div{
    padding:0.1px 0px 15px 0px;
    align-items: center;

} */

.testimony .testimonyWord{
    width: 320px;
    height: 570px;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
}
.testimony .container{
    background-color: #009A52;
    height: 570px;
    justify-content: space-around;
    align-items: center;

}
.testimony .card{
    width: 295px;
    height: 380px;
    border-radius: 20px;
    overflow: hidden;
}
.testimony .card-title{
    font-size: 128;
    font-family: 'Montserrat';
    color: #00BF66;
    position: absolute;
    top: 40%;
    left: 15%;
}
.card-text{
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    padding: 10px 10px 10px 10px;
}
.lifePlans .card{
    margin:0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
}

footer{
    background-color: #424559;
    color: white;
    padding: 20px 10px 20px 10px;
    justify-content: center;
    align-items: stretch;
    height: 340px;
}

footer .row{
    float:block;
    display: flex;
    height: 100px;
    align-items: baseline;
}
footer .red{
    color: #EC6453;
}

footer ul {
    list-style-type: none;
}

.logo{
    float: center;
}

/* Starting quote page here*/
.quote{
    width: 100vh;
    height: 100vh;
    padding: 10px;
    margin: 20px 50px 20px 50px;
    border: black;
    border-style: solid;
    box-shadow: 10px 10px 8px #888;
    overflow: auto;

}
.carouselExampleIndicators{
    background-color: blue;
    color: blue;
    
}
.carousel-indicators > li {
    border-radius: 50%;
    background-color: blue;
    color: blue;
    height: 30px;
  }

  .sr-only{
    background-color: blue;
    color: blue;
  }
.quoteRes{
    background-image:url("./quote-result.jpg");
}
* {
    box-sizing: border-box;
  }
  
  .slider {
    width: 1000px;
    text-align: center;
    overflow: hidden;
  }
  
  .slides {
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 1000px;
    height: auto;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;}

.stepper-wrapper{
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #CAEFDB;
  opacity: .4;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
  
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #CAEFDB;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}
.step-name{
  position: absolute;
  bottom: -20px;

}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  top: 16px;
  border-radius: 50%;
  background: #CAEFDB;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}
.stepper-item.active .step-counter {
  background-color: #2BBD6D;
  filter: saturate(100%);
  width: 40px;
  height: 40px;
  top: 0px;

}

.stepper-item.completed .step-counter {
  background-color: #2BBD6D;
  filter: saturate(100%);
  width: 40px;
  height: 40px;
  top: 0px;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #2BBD6D;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}
/* #stepProgressBar  {
	display:  flex;
	justify-content:  space-between;
	align-items:  flex-end;
	width:  400px;
	margin:  0  auto;
	margin-bottom:  40px;
}

.step  {
text-align:  center;
}

.step-text  {
margin-bottom:  10px;
color:  #28a745;
}


.bullet {
	border: 15px solid #28a745;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	color: #28a745;
	display: inline-block;
	position: relative;
	transition: background-color 500ms;
  line-height:20px;
}


.bullet.completed  {
	color:  white;
	background-color:  #28a745;
  height: 43px;
	width: 43px;
}



.bullet.completed::after {
	content: '';
	position: absolute;
	right: -100px;
	bottom: 5px;
	height: 1px;
	width: 130px;
	background-color: #28a745;
}

/* Base styles and helper stuff */
/* .hidden  {
	display:  none;
}
 
button  {
	padding:  5px  10px;
	border:  1px  solid  black;
	transition:  250ms background-color;
}

button:hover  {
	cursor:  pointer;
	background-color:  black;
	color:  white;
}

button:disabled:hover  {
	opacity:  0.6;
	cursor:  not-allowed;
}

.text-center  {
	text-align:  center;
}
  
.containr  {
	max-width:  400px;
	margin:  0  auto;
	margin-top:  20px;
	padding:  40px;
}
 */


/*.slide-content{
    margin: 0 40px;
}
.cardTestimony{
    border-radius: 25px;
    background-color: white;
    width: 300px;
}
.cardImage{
    position: relative;
    height: 150px;
    width: 150px;
}
.cardImage .cardImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.cardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

}
*/
